{% extends "creatives/index.html" %}

{% block title %}Edit Creative Settings!{% endblock %}

{% block body %}

{% if errors %}
<ul>
  {% for error in errors %}
    <li><font color=red>{{ error }}</font></li>
  {% endfor %}
</ul> {% endif %}

 <form method="post" enctype="multipart/form-data">
    <label>Name:</label>
    <input type='text' name="name"
    value="{{ record.name}}"/>
    <br/>

    <label>Destination Url:</label>
    <input type='text' name="url"
    value="{{ record.url}}"/>
    <br/>

    <label>Size:</label>
    <input type='hidden' name='image' value='{{record.image }}'/>
    <input type='text' name="size"
    value="{{ record.size}}"/>
    <br/>
    <label>Img File</label>
    <input type="file" name="file" /> &nbsp; &nbsp;



    <br/>
    <br/>
    <input type="submit"/>
</form>
{% endblock %}